# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
**/venv/
prod/
**/prod/
prodexit/
**/prodexit/

# Environment variables
.env
**/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store